/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}


.outer {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 3rem;
  padding: 3rem;
}

.accordion-item {
  width: 100%;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 2rem;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

.text {
    font-weight: 900;
    font-size: 20px;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text > span {
  display: inline-block;
  vertical-align: middle;
}

.button {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.up > img, .down > img {
  width: 40%;
  height: auto;
}

.up, .down {
  margin-left: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: none;
  padding: 20px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}